@tailwind base;
@tailwind utilities;
@tailwind typography

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', Arial, Tahoma, Verdana, sans-serif;
}

html.dark .swagger-ui {
    filter: invert(88%) hue-rotate(180deg);
}

html.dark .swagger-ui .highlight-code {
    filter: invert(100%) hue-rotate(180deg);
}

.swagger-ui .info {
    display: none;
}

.swagger-ui .scheme-container {
    background: transparent !important;
    box-shadow: unset !important;
    padding: 10px 0 !important;
}
